################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MetaOptimize/MetaOptimize.Cli/Properties/launchSettings.json
